In [2]:
import pandas as pd
import numpy as np
import nltk

from nltk import word_tokenize

In [3]:
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\oybek\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\oybek\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [4]:
df = pd.read_csv("../data/bbc_text_cls.csv")

In [5]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [6]:
# populate word2idx
# convert documents into sequences of ints / ids / indices
idx = 0
word2idx = {}
tokenized_docs = []

for doc in df['text']:
    words = word_tokenize(doc.lower())
    doc_as_int = []
    for word in words:
        if word not in word2idx:
            word2idx[word] = idx
            idx += 1

        # save for later
        doc_as_int.append(word2idx[word])
    tokenized_docs.append(doc_as_int)

In [8]:
# reverse mapping
# if you do it smarter you can store it as a list
idx2word = {v:k for k,v in word2idx.items()}

In [9]:
# number of docs
N = len(df['text'])
N

2225

In [10]:
# number of words
V = len(word2idx)
V

34613

In [11]:
# instantiate term-frequency matrix
# note: could have also used count vectorizer
tf = np.zeros((N, V))

In [12]:
# populate term-frequency counts
for i, doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i,j] += 1

In [13]:
# compute idf
document_freq = np.sum(tf>0, axis=0) # document frequency shape = (V, )
idf = np.log(N / document_freq)

In [14]:
# compute tf-idf
tf_idf = tf * idf

In [15]:
np.random.seed(123)

In [ ]:
i = np.random.choice(N)
row = df.iloc[i]
print(f"Label: {row['labels']}")
print("Text:", row['text'].split("\n", 1)[0])
print("Top 5 term")

scores = tf_idf[i]
indices = (-scores).argsort()

for j in indices[:5]:
    print(idx2word[j])

SyntaxError: unexpected character after line continuation character (2674404473.py, line 4)